.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 4fr));
    grid-auto-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    margin: 20px;
}

.grid::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.grid-item {
    padding: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

.material-icons {
    vertical-align: text-bottom;
    display: block;
}

.request {
    list-style: none;
    padding-left: 0;
}

.badge-warning, .badge-success, .badge-primary {
    text-align: center;
}